html,body {
    height: 100%;
    margin: 0;
}

#zivame-container {
    max-height: 80%;
}

#zivame-container .mix{
    box-shadow: 3px 3px 2px 0px #557599;
    cursor: pointer;
    display: none;
    height: 100px;
    margin: 10px;
    width: 120px;
}

.thumb-img {
    height: 100%;
    width: 100%;
}